<section class="home__container">
  <article class="image__container">
    <img src="assets/banner__background.jpg" alt="background" />

    <div class="banner__content">
      <div class="text__container">
        <h1>
          <span> {{ "layout-blog.learn" | transloco }} </span>
          <br />
          <span> {{ "layout-blog.good-practices" | transloco }} </span>
        </h1>
        <p>{{ "layout-blog.slogan" | transloco }}</p>
      </div>

      <div class="image__container--banner">
        <img src="assets/banner__background--logo.png" alt="background image" />
      </div>
    </div>
  </article>

  <article class="post__container container">
    <h2>{{ "layout-blog.latest-post" | transloco | titlecase }}</h2>
    @if (posts()) {
      <div class="card__container">
        @for (post of posts(); track post) {
          <app-card-post [post]="post" />
        }
      </div>
    } @else {
      <app-skeleton-post-card />
    }
  </article>

  @if (showButtonPage()) {
    <div class="button__container">
      <button
        class="button custom__button--line"
        (click)="nextPage()"
        [ngStyle]="{ opacity: showButtonPage() ? 1 : 0.4 }"
      >
        {{ "layout-blog.view-more" | transloco }}
      </button>
    </div>
  }
</section>
