<section class="skills__container container">
  <app-title [title]="'layout-portfolio.skills' | transloco" />

  @if (skills().length > 0) {
    <article class="skills__card--container">
      <div class="skill__stack">
        <h2>{{ "layout-portfolio.front" | transloco }}</h2>

        <div class="skills__content">
          @for (skill of frontend(); track skill; let index = $index) {
            <app-atropos
              [item]="skill.attributes"
              [clase]="skill.attributes.name"
              [isPrimary]="true"
            ></app-atropos>
          }
        </div>
      </div>

      <div class="skill__stack">
        <h2>{{ "layout-portfolio.back" | transloco }}</h2>

        <div class="skills__content">
          @for (skill of backend(); track skill; let index = $index) {
            <app-atropos
              [item]="skill.attributes"
              [clase]="skill.attributes.name"
              [isPrimary]="true"
            ></app-atropos>
          }
        </div>
      </div>

      <div class="skill__stack">
        <h2>{{ "layout-portfolio.database" | transloco }}</h2>

        <div class="skills__content">
          @for (skill of database(); track skill; let index = $index) {
            <app-atropos
              [item]="skill.attributes"
              [clase]="skill.attributes.name"
              [isPrimary]="true"
            ></app-atropos>
          }
        </div>
      </div>

      <div class="skill__stack">
        <h2>{{ "layout-portfolio.library" | transloco }}</h2>

        <div class="skills__content">
          @for (skill of library(); track skill; let index = $index) {
            <app-atropos
              [item]="skill.attributes"
              [clase]="skill.attributes.name"
              [isPrimary]="true"
            ></app-atropos>
          }
        </div>
      </div>
    </article>
  } @else {
    <article class="skeleton__container">
      @for (item of items; track $index) {
        <p-skeleton width="200px" height="200px"></p-skeleton>
      }
    </article>
  }
</section>
